---
layout: default
---
<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#mission">Mission</a>
        </li>
        <li>
          <a class="page-scroll" href="#apply">Apply</a>
        </li>
        <li>
          <a class="page-scroll" href="#prize">Prize &amp; Supporters</a>
        </li>
        <li>
          <a class="page-scroll" href="#past-recipients">Award Recipients</a>
        </li>
        <li>
          <a class="page-scroll" href="#videos">Videos</a>
        </li>
        <li>
          <a class="page-scroll" href="#coi">COI Rules</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">The Parasite Awards</div>
      <div class="intro-lead-in">Celebrating rigorous secondary data analysis</div>
      <a class="twitter-share-button" href="https://twitter.com/share" data-text="The #ResearchParasite Award recognizes rigorous secondary analyses. Travel support + prizes." data-size="large" data-url="http://researchparasite.com"
        data-related="GreeneScientist,PacSymBiocomp">
      </a>
    </div>
  </div>
</header>

<!-- Founding & Mission Section -->
<section id="mission">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">The "Parasites"</h2>
        <h3 class="section-subheading text-muted">PSB Awards for rigorous secondary data analysis. A companion to the <a href="http://researchsymbionts.org">Research Symbiont Awards</a>.</h3>
      </div>
    </div>
    <div class="row text-justify">
      <div class="col-sm-12">
        <p> The act of generating new hypotheses from existing data is a major component in the process of science. Dr. Albert Szent-Györgyi has been quoted as saying "discovery consists of seeing what everybody has seen, and thinking what nobody
          has thought." Recent advances in data sharing, combined with the expectation that publicly funded research will be shared, have led to projects that consist largely of secondary analysis of data. The practitioners of this craft may
          analyze or combine these data in ways that answer scientific questions that the initial investigators did not consider. In a <strong><a href="http://www.nejm.org/doi/full/10.1056/NEJMe1516564">2016 editorial</a></strong>, the New
          England Journal of Medicine termed these people "research parasites." </p>
        <p> The Parasite awards, given annually, recognize outstanding contributions to the rigorous secondary analysis of data. This practice of secondary analysis plays a key role in the scientific ecosystem: conclusions that persist through
          substantial reanalysis are expected to be more credible; and analyses that extract more knowledge from underutilized data make the practice of science more efficient. </p>
        <p> Or, phrased slightly differently: </p>
      </div>
      <div class="col-sm-6 col-sm-offset-3">
        <blockquote class="twitter-tweet" data-lang="en">
          <p lang="en" dir="ltr">I propose a new science award: &quot;The Research Parasite Award is given to those who used someone else&#39;s data to do some really cool sh*t&quot;</p>&mdash; Iddo Friedberg (@iddux) <a
            href="https://twitter.com/iddux/status/690563238979723267">January 22, 2016</a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="col-sm-12">
        <p> The Parasites currently consist of two awards: the first recognizes an outstanding contribution from a junior parasite (postdoctoral, graduate, or undergraduate trainee), and the second recognizes an individual for a sustained period
          of exemplary research parasitism. </p>
      </div>
    </div>
  </div>
</section>
<!-- Apply -->
<section id="apply" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Eligibility &amp; Application</h2>
        <h3 class="section-subheading text-muted">How to apply for an award.</h3>
      </div>
    </div>
    <div class="row text-justify">
      <div class="col-lg-12">
        <h3>Application Process</h3>
        <p> After a one-year pause in 2026, the Research Parasite Awards are returning for 2027. <strong>The application period is now open</strong> (since {{ site.award.open_date }}). </p>
        <p> We encourage readers to broadly share this call, and we strongly encourage members of groups that are underrepresented in scientific communities to apply for this award. </p>
        <p> <strong>Applications for the {{ site.award.year }} Research Parasite Awards must be received by {{ site.award.deadline }}</strong> at <strong><a href="mailto:{{ site.email }}">{{ site.email }}</a></strong>. The award will be
          presented via a video livestream. We plan for this to occur during the first week of January as part of the <strong><a href="http://psb.stanford.edu" target="_blank">{{ site.award.psb_ordinal }} Annual Pacific Symposium on Biocomputing</a></strong>. An application requires: </p>
        <ul>
          <li>An application letter describing how each selected paper meets the criteria for the award.</li>
          <li>Junior Parasite (aka the sporozoite): a PDF of one paper published after peer review on which the application will be judged.</li>
          <li>Sustained Parasitism (aka the merozoite): PDFs of three papers published after peer review on which the application will be judged.</li>
        </ul>
        <p> The award winners will be recognized at the <strong><a href="http://psb.stanford.edu">Pacific Symposium on Biocomputing</a></strong> each year and listed on the PSB website along with links to the winning papers. </p>
        <h3>Eligibility</h3>
        <p><strong>Selection criteria (both awards) for the work in question:</strong></p>
        <ul>
          <li>The awardee must not have been involved the design of the experiments that generated the data.</li>
          <li>The awardee published independently of the original investigators, and the original investigators are not authors of the secondary analyses but are appropriately credited in the manuscripts.</li>
          <li>The awardee may have extended, replicated or disproved what the original investigators had posited.</li>
          <li>The awardee has provided source code and intermediate or final results in a manner that enhances reproducibility.</li>
        </ul>
        <p><strong>Additional selection criteria for the Junior Parasite award:</strong></p>
        <ul>
          <li>The awardee must have published the work at the training stage of their career (postdoctoral, graduate, or undergraduate). If the awardee has assumed a position as an independent investigator she or he should not have been in that
            position for more than 2 years.</li>
          <li>The award will be based on work described in a single manuscript (submitted alongside the application letter).</li>
        </ul>
        <p><strong>Additional selection criteria for the Sustained Parasitism award:</strong></p>
        <ul>
          <li>The awardee must be in an independent investigator position in academia, industry or public sector.</li>
          <li>The awardee must be a last or corresponding author on the three manuscripts submitted alongside the application letter.</li>
          <li>At least a five-year period must have elapsed between the publication of the first manuscript and the final manuscript.</li>
        </ul>
        <p> By submitting an application you agree that the decisions of the parasite award committee are final, and the committee is unable to provide feedback on applications that were not selected. </p>
      </div>
    </div>
  </div>
</section>
<!-- Prize & Supporters Section -->
<section id="prize">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Prize &amp; Supporters</h2>
        <h3 class="section-subheading text-muted">Those who make this possible.</h3>
      </div>
    </div>
    <div class="row text-justify">
      <h3>Prizes</h3>
      <div class="col-lg-12">
        <p> Each award recipient will receive a $1000 cash prize, due to support from <a href="https://academic.oup.com/gigascience"><em>GigaScience</em></a> and <a href="https://gigabytejournal.com/"><em>GigaByte</em></a>. We also expect to award a number of Honorable Mentions, which are accompanied by a $250 prize.</p>
      </div>
    </div>
    <div class="row">
      <h3>{{ site.award.year }} Award Year Sponsors</h3>
      {% for sponsor in site.data.sponsors %}
      <div class="{{ sponsor.width }}">
        <div class="team-member">
          <h4><a href="{{ sponsor.url }}">{{ sponsor.name }}</a></h4>
          <p class="text-muted text-left">{{ sponsor.description }}</p>
          {% if sponsor.logo %}<a href="{{ sponsor.url }}"><img src="img/{{ sponsor.logo }}" class="img-responsive" alt="{{ sponsor.name }} Logo"></a>{% endif %}
          {% if sponsor.twitter %}
          <ul class="list-inline social-buttons">
            <li><a href="{{ sponsor.twitter }}"><i class="fa fa-twitter"></i></a>
          </ul>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row text-justify">
      <h3>Long-term Sustainability</h3>
      <div class="col-lg-12">
        <p> Since the 2019 award year, The Research Parasite Award has been supported in part by an endowment. This endowment is housed at the University of Pennsylvania and provides modest prizes to the recipients. If you would like to
          contribute to this endowment, <a href="https://giving.apps.upenn.edu/giving/jsp/fast.do?fastStart=simpleForm&program=MED&fund=404893&bhcp=1">donations may be made here</a>. The initial donors to this endowment include:
        <ul>
          <li>Jeff Stibel</li>
          <li>Mr. and Mrs. Stephen Canon</li>
          <li>Drs. Casey and Anna Greene</li>
        </ul>
        </p>
        <p> Administrative support is provided by University of Pennsylvania Perelman School of Medicine's Department of Systems Pharmacology and Translational Therapeutics. If you would like to team up with us to celebrate secondary data
          analysis with a one-year contribution (e.g. via a travel award), please send an e-mail to <a href="mailto:greenescientist@gmail.com">Casey Greene</a>. </p>
      </div>
    </div>
  </div>
</section>
<!-- Selection Committee Section -->
<section id="committee" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Selection Committee</h2>
        <p> The committee has sole responsibility for determining the recipient of the parasite awards. As discussed in the conflict of interest rules, the committee and individual members are unable to comment on any unselected applications.
        </p>
      </div>
    </div>
    <div class="row">
      {% for member in site.data.committee %}
      <div class="col-sm-2">
        <div class="team-member">
          <img src="img/{{ member.image }}" class="img-responsive img-circle" alt="{{ member.name }}">
          <h4>{{ member.name }}</h4>
          <p class="text-muted">{{ member.role }}</p>
          {% if member.twitter %}
          <ul class="list-inline social-buttons">
            <li><a href="{{ member.twitter }}"><i class="fa fa-twitter"></i></a></li>
          </ul>
          {% endif %}
        </div>
      </div>
      {% endfor %}
      <div class="col-sm-12">
        <p>*<em>Selection of new committee members</em>: For the three four-year term positions, the award committee will have the right to nominate new members, and the PSB organizers will have the right to
          confirm selected nominees. For the two two-year terms positions, recipients of the Sustained Parasitism award will rotate on to the committee. No committee member may serve more than four consecutive years and no committee member may
          return to the committee until at least four award years have passed since the member previously served. </p>
      </div>
      <div class="col-sm-12">
        <h2>Former Members</h2>
        <ul>
          {% for member in site.data.former_members %}
          <li>{{ member.name }}<a href="{{ member.twitter }}"><i class="fa fa-twitter"></i></a> ({{ member.years }})</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Past Recipients Grid Section -->
<section id="past-recipients">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Award Recipients</h2>
        <h3 class="section-subheading text-muted">Exemplars of research parasitism.</h3>
      </div>
    </div>

    {% for group in site.data.recipients %}
    <!-- {{ group.year }} recipients -->
    <div class="row">
      {% for recipient in group.recipients %}
      <div class="col-md-6 col-sm-6 portfolio-item">
        {% if recipient.modal %}<a href="#{{ recipient.modal }}" class="portfolio-link" data-toggle="modal">{% endif %}
        <div class="team-member award-recipient">
          <img src="img/{{ recipient.image }}" class="img-responsive img-circle" alt="{{ recipient.name }}">
          <h4>{{ recipient.name }}</h4>
          <p class="text-muted">{{ group.year }} {{ recipient.label }}</p>
        </div>
        {% if recipient.modal %}</a>{% endif %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Honorable Mentions</h2>
      </div>
      <div class="row">
        {% for mention in site.data.honorable_mentions %}
        <div class="col-md-4 col-sm-4 portfolio-item">
          <div class="team-member award-recipient">
            <img src="img/{{ mention.image }}" class="img-responsive img-circle" alt="{{ mention.name }}">
            <h4>{{ mention.name }}</h4>
            <p class="text-muted">{{ mention.label }}</p>
            <p>{{ mention.description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- Previous Award Announcement Videos -->
<section id="videos" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Previous Award Announcement Videos</h2>
        <h3 class="section-subheading text-muted">Recordings from past Parasite Award announcements.</h3>
      </div>
    </div>
    {% for video in site.data.videos %}
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>{{ video.year }} Award Announcement</h3>
      </div>
    </div>
    <div class="video-embed">
      <iframe src="https://www.loom.com/embed/{{ video.loom_embed_id }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    {% endfor %}
  </div>
</section>
<!-- Rules & Regulations -->
<section id="coi">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Award and Conflict of Interest Rules</h2>
      </div>
    </div>
    <div class="row text-justify">
      <div class="col-lg-12">
        <ol>
          <li> PSB conference co-chairs do not serve as nominator or endorser for any application submitted for this award. </li>
          <li> Members of this award committee do not serve as a nominator for any application for this award. If you have nominated a candidate, inform the committee chair immediately so that one of two actions may be taken: (a) the application
            will be set aside for the year, or (b) you will step down from the committee for the year. </li>
          <li> Members of this committee should not be directly involved in application prior to their submittal. Members can answer general questions about what a application should include but may not pre-review or comment on draft
            applications. </li>
          <li> Members must maintain confidentiality about the internal discussions of the committee. Information about committee deliberations should not be shared with anyone outside the committee, nor should the winner be discussed until PSB
            has issued a formal statement. </li>
          <li> Members of this committee and the committee as a whole do not provide feedback to unsuccessful candidates. If a member is asked for feedback, this policy should be cited. </li>
          <li> Members of this committee are not eligible to be nominated for the award during their time on the committee. Individuals in the research group of a committee member are also not eligible to be nominated for the award during that
            member’s time on the committee. </li>
          <li> Members of this committee must self-identify any relationships/affiliations that might be perceived as a source of potential bias, and inform the committee chair of the COIs before any candidates have been discussed. Identify any
            candidates with whom you: have had close personal or working relationships within the past 5 years or the period covered by the award, whichever is longer; anyone for whom you were thesis advisor/advisee; anyone for whom you were a
            postdoctoral advisor/advisee; anyone for whom you were a faculty mentor/mentee; or any other case where your judgment could be affected. Also identify any candidates from your current institution or one where you worked within the
            past 5 years. </li>
        </ol>
        <p> In the event that a committee member has a relationship described in rule 7 with one or more nominees, s/he should disclose that relationship to the other committee members and describe the nature of the relationship(s). The other
          committee members should then decide (without the conflicted committee member) whether the conflict is adequately mitigated by disclosure. In the event that a majority of the other committee members believes the conflict is not
          adequately mitigated by disclosure, the following procedure should be followed: (1) The conflicted committee member may not participate in the discussion of the conflicted nominee; (2) If the non-conflicted committee members feel a
          conflicted nominee should be an awardee, then those committee members should send a written description of the conflict and the rationale for their decision to the PSB co-chairs; (3) if a majority of the PSB co-chairs believe the
          decision has been improperly biased by the conflict, the conflicted nominee cannot be the award winner, and the committee will be tasked with selecting a different awardee. </p>
      </div>
    </div>
  </div>
</section>
