<!-- Recipient detail modals. These are linked from recipients that have a
     `modal:` id set in _data/recipients.yml. They are historical write-ups and
     change rarely, so they live here as plain markup. -->

<div class="portfolio-modal modal fade" id="KunHsingYuModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Kun-Hsing Yu</h2>
              <p class="item-intro text-muted">Winner of the 2017 Junior Parasite Award.</p>
              <p>The 2017 junior parasite award recipient was Dr. Kun-Hsing Yu. In the <a href="http://www.nature.com/articles/ncomms12474">research for which he was nominated</a>, Dr. Yu and colleagues employed existing datasets and software in
                an innovative new analysis. They reanalyzed TCGA histopathology images and Stanford Tissue Microarray data and extracted features using methods built into CellProfiler. They employed a number of different machine learning
                approaches using packages for the R programming language, which were mentioned and cited in the manuscript. They also provided source code and data for the analyses under an open license.</p>
              <p>Dr. Yu says:
              <blockquote>
                <p>I would like to take this opportunity to thank the PSB Parasite Award Committee for organizing this award and my Ph.D. co-advisors Professors Michael Snyder and Russ Altman for supervising my work and nominating me for the
                  award.</p>
                <p>Research parasitism, or secondary data analysis, plays a key role in the scientific ecosystem. With data reanalysis, we can ensure the reproducibility of scientific investigations, make the most of the underutilized data, and
                  integrate data from different sources to generate novel biomedical insights. Currently, most biomedical data is trapped in silos, which hinders scientific progress and improvement of healthcare. Biomedical informaticians
                  routinely integrate diverse data types and are in a great position to revolutionize biomedical investigations by breaking the silos, accelerating the scientific process, and translating big data into deep knowledge in
                  biomedicine.</p>
                <p>It takes a whole ecosystem to advance science, and secondary data analysis is indispensable for biomedical investigations in the 21st century. As a biomedical informatician, I am very proud of being able to contribute to the
                  ecosystem in a revolutionary way.</p>
              </blockquote>
              </p>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Profile</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal modal fade" id="ErickTurnerModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Erick Turner</h2>
              <p class="item-intro text-muted">Winner of the 2017 Sustained Parasitism Award.</p>
              <p>The 2017 sustained parasite award recipient was Dr. Erick Turner. In the research for which he was nominated [<a href="http://www.nejm.org/doi/full/10.1056/NEJMsa065779#t=article">1</a>, <a
                  href="http://journals.plos.org/plosmedicine/article?id=10.1371/journal.pmed.1001189">2</a>, <a href="http://jamanetwork.com/journals/jamapsychiatry/article-abstract/2205839">3</a>], Dr. Turner and colleagues identified pervasive
                publication bias. According to published literature, nearly all clinical trials of antidepressants that they evaluated were positive. However at the FDA level, only half showed a significant positive effect. Dr. Turner and his
                collaborators have continued to identify reporting biases for a sustained period.</p>
              <p>Dr. Turner says:
              <blockquote>
                <p>In each of these studies, I and my colleagues have “parasitically” compared published peer-reviewed journal articles to FDA drug approval packages. These are freely available to the public but unfortunately user-unfriendly. To
                  correct this, we have been developing OpenTrialsFDA, a project aimed at making the FDA’s trove of drug data easier to access and use. The goal is to grow the community of “FDA parasites” so that researchers and others, including
                  journalists, can get a much more complete and “unspun” picture of how safe and effective our drugs really are.</p>
                <p>OpenTrialsFDA is currently one of 6 finalists for the <a href="http://event.capconcorp.com/wp/osp/">Open Science Prize</a>.</p>
              </blockquote>
              </p>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Profile</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal modal fade" id="UriBenDavidModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Uri Ben-David</h2>
              <p class="item-intro text-muted">Winner of the 2018 Junior Parasite Award.</p>
              <p>The 2018 junior parasite award recipient was Dr. Uri Ben-David. In the <a href="doi.org/10.1038/ng.3967">research for which he was nominated</a>, Dr. Ben-David compiled and analyzed a large collection of public data from patient
                derived xenografts (PDXs). PDXs are human tumors grown in mice. These are constructed with the hope that they mimic human tumors growing in humans and that they provide a high-fidelity model of human cancers. What these authors
                found was that these tumors underwent evolution to the mouse environment.</p>
              <p>Dr. Ben-David says:
              <blockquote>
                <p>I’m honored and excited to receive the Parasite Award. I’d like to thank the award committee for selecting my work, and – more importantly – for establishing this award to celebrate rigorous secondary analysis of data. Hands
                  down, this is the coolest award I’ve ever received!</p>
                <p>n 2018, it’s really quite surprising that we still need to encourage people to re-analyze each other’s data and to view secondary analyses as a positive, and even essential, part of science. My work combines experimental and
                  computational approaches to study cancer genetics, and I can’t think of a single project in our lab that cannot benefit from some secondary data analysis. Simply put, there’s so much published data out there, that it just
                  doesn’t make sense not to use it routinely in our research.</p>
                <p>Looking at existing data with fresh eyes is crucial for scientific breakthroughs. I'm proud to be recognized for that sort of achievement, and I intend to keep combining data generation, primary data analysis and secondary data
                  analysis as equally-important aspects of my research.</p>
              </blockquote>
              </p>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Profile</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal modal fade" id="JulieDunningHotoppModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>Julie Dunning Hotopp</h2>
              <p class="item-intro text-muted">Winner of the 2018 Sustained Parasitism Award.</p>
              <p>The 2018 sustained parasite award recipient was Dr. Julie Dunning Hotopp. In the research for which she was nominated [<a href="https://doi.org/10.1126/science.1142490">1</a>, <a
                  href="https://doi.org/10.1371/journal.pcbi.1003107">2</a>, <a href="https://doi.org/10.1186/s40168-016-0224-8">3</a>], Dr. Dunning Hotopp and colleagues identified lateral gene transfer between bacteria and animals by examining
                genome data in public repositories. A continuing theme of Dr. Dunning Hotopp's research has been that there's more to be found by delving into sequences that others have discarded. For her substantial, sustained contributions in
                this area the committee selected her as the 2018 Sustained Parasitism recipient.</p>
              <p>Dr. Dunning Hotopp says:
              <blockquote>
                <p>In these studies, my collaborators, my group, and I have used publicly available genome sequencing data to challenge paradigms, demonstrating that bacterial DNA can integrate into invertebrate animal genomes, and possibly even
                  the somatic human genome. Genome sequencing projects, from the beginning, have embraced the release of raw data to enable testing of alternate hypotheses. Our research program uses such data to demonstrate that not only does
                  bacteria-to-animal lateral gene transfer occur, but that it can be quite common. We continue to develop tools and resources to enable discover of lateral gene transfer in genome sequencing data and continue our own work on
                  bacteria-animal lateral gene transfer.</p>
              </blockquote>
              </p>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Profile</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
