<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="The Research Parasite Awards Committee">
    <title>{{ page.title | default: site.title }}</title>

    <!-- Open Graph / Twitter Card (controls how shared links unfurl) -->
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:image" content="{{ site.url }}/{{ site.share_image }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="{{ site.url }}/{{ site.share_image }}">

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">
    <!-- Theme CSS -->
    <link href="css/agency.css" rel="stylesheet">
    <!-- Site-specific CSS -->
    <link href="css/custom.css" rel="stylesheet">
  </head>

  <body id="page-top" class="index">

    {{ content }}

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; The Research Parasite Awards, 2016&ndash;2026</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li><a href="http://twitter.com/greenescientist"><i class="fa fa-twitter"></i></a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li>
                <a href="https://www.flickr.com/photos/65695019@N07/17209504216">Parasitic Wasp Image CC-BY-SA by berniedup</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    {% include modals.html %}

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <!-- Theme JavaScript -->
    <script src="js/agency.min.js"></script>
  </body>

</html>
